@font-face {
	font-family: 'FixedsysExcelsior301Regular';
	src: url('../font/fsex300-webfont.eot');
	src: url('../font/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/fsex300-webfont.woff') format('woff'),
		 url('../font/fsex300-webfont.ttf') format('truetype'),
		 url('../font/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-smooth:never;
}
html, body {
	border:0;
	margin:0;
	padding: 0;
	text-align:center;
	font-family:"FixedsysExcelsior301Regular";
	color:#FFF;
	text-shadow:2px 2px 0px #003;
}

body {
	background-color: rgba(0,0,0,0.6);
}

body::after {
	content: "";
	background: url("../images/bg.jpg");
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#title {
	margin-top: 24px;
	margin-bottom: 10px;
	color:#EFBA61;
	text-shadow:2px 2px 0px #444;
}
#main {
	text-align:initial;
	display:inline-block;
	background: #370000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #a00000 0%,#370000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #a00000 0%,#370000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #a00000 0%,#370000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00000', endColorstr='#370000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:5px;
	box-shadow:0px 0px 1px #EFBA61;
}
#XMLCode {
	position: relative;
	width: 760px;
	height: 300px;
	resize:both;
	text-shadow:none;
	font-size:14px;
	margin:8px auto;
}
#help {
	float:right;
	margin-left:10px;
	color:#EFBA61;
	text-decoration:none;
}
#help:hover {
	text-decoration:underline;
}
#lines {
	float:right;
}
#goToFrame, #theme {
	display:inline-block;
}
#frame_input {
	width:120px;
}
#fontsize_selector,
#theme_selector {
	width:100px;
}
#storynum {
	width:50px;
}
#bg_selector {
	width:110px;
}

/* LOADER - START */
/**
 * When the body has the loading class, we turn
 * the scrollbar off with overflow:hidden
 * and our modal element will be visible
 */

 body.loading .loader,
 body.loading .loader_bg {
	overflow: hidden;
	display: block;
}
/**
 * Loader taken from:
 * https://projects.lukehaas.me/css-loaders/
 */
.loader_bg {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.loader {
	display: none;
	z-index: 1000;
	color: #ffffff;
	font-size: 10px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: 3em;
	margin-top: 3em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateX(-500%) translateY(-500%) translateZ(0);
	-ms-transform: translateX(-500%) translateY(-500%) translateZ(0);
	transform: translateX(-500%) translateY(-500%) translateZ(0);
}
#loading_text {
	top: 50%;
	left: 50%;
	position: fixed;
	font-size: 30px;
	margin-left: -170px;
	margin-top: 80px;
}
@-webkit-keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
			0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
			0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
			0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
			0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
			0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
			0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}

/* LOADER - END */

#setlang:hover {
	cursor:pointer;
}
.popupS-layer.popupS-open {
	background: #370000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #a00000 0%,#370000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #a00000 0%,#370000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #a00000 0%,#370000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00000', endColorstr='#370000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:5px;
	box-shadow:0px 0px 1px #EFBA61;
}
.popupS-close {
	font-size: 22px !important;
}
.popupS-buttons button {
	cursor: pointer;
	height: 23px;
	background: #370000;
	background: -moz-linear-gradient(#370000, #270000);
	background: -webkit-linear-gradient(#370000, #270000);
	background: -ms-linear-gradient(#370000, #270000);
	background: -o-linear-gradient(#370000, #270000);
	background: linear-gradient(#370000, #270000);
	color: #fff;
	outline: none;
	border: 1px solid #9F5A11;
	box-shadow: 0 0 0 1px #9F5A11, 0 0 0 1px #EFBA61 inset;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 10px;
	height: 22px;
	margin: 10px auto 0;
	display: block;
}
#mp3file {
	display:none;
}
