input[type=text],
input[type=submit] {
	background: #370000;
	background: -moz-linear-gradient(#370000, #270000);
	background: -webkit-linear-gradient(#370000, #270000);
	background: -ms-linear-gradient(#370000, #270000);
	background: -o-linear-gradient(#370000, #270000);
	background: linear-gradient(#370000, #270000);
	color: #fff;
	outline: none;
	border:1px solid #9F5A11;
	box-shadow: 0 0 0 1px #9F5A11, 0 0 0 1px #EFBA61 inset;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 10px;
	height: 22px;
}
input[type=text] {
	margin-top:1px;
	height: 21px;
}
input[type=submit] {
	cursor:pointer;
	height: 23px;
}
input[type=submit]::-moz-focus-inner {
	border: 0;
}