:root .css3-selectbox,
:root .css3-selectbox select,
:root .css3-selectbox::after,
:root .css3-selectbox::before
{
	text-shadow:initial;
	display: inline-block;
	vertical-align: top;
	height: 21px;
	margin-top: 1px;
}
 
:root .css3-selectbox::after,
:root .css3-selectbox::before
{
	content: "";
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	pointer-events: none;
}
 
:root .css3-selectbox,
:root .css3-selectbox::after
{
	background: #370000;
	background: -moz-linear-gradient(#370000, #270000);
	background: -webkit-linear-gradient(#370000, #270000);
	background: -ms-linear-gradient(#370000, #270000);
	background: -o-linear-gradient(#370000, #270000);
	background: linear-gradient(#370000, #270000);
}
 
:root .css3-selectbox select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	border: 0;
	background: transparent;
	font: normal 11px/18px "Segoe UI", Arial, Sans-serif;
	color: #fff;
	outline: none;
	padding:0 5px;
}

:root .css3-selectbox select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #FFF;
}
 
:root .css3-selectbox option
{
	background: #370000;
}
 
:root .css3-selectbox
{
	border: solid 1px #303070;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 0 0 1px #9F5A11, 0 0 0 1px #EFBA61 inset;
}
 
:root .css3-selectbox::before
{
	position: absolute;
	z-index: 1;
	top: 8px;
	right: 6px;
	width: 0;
	height: 0;
	border: solid 4px transparent;
	border-top-color: rgba(255, 255, 255, .6);
}
 
:root .css3-selectbox::after
{
	position: absolute;
	right: -1px;
	width: 16px;
	margin: 0 0 0 -7px;
	box-shadow: -1px 0 0 1px #EFBA61 inset;
}
 
:root .css3-selectbox:hover::before
{
	border-top-color: #fff;
}